.h1 {
  font-weight: 700;
  // font-size: 4rem;
  // line-height: 3.938rem;
  @apply text-[2.25rem] leading-[3rem] md:text-[4rem] md:leading-[3.938rem];
}
.h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
}
.h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.625rem;
}
.p {
  color: #656464;
  font-size: 1rem;
}

.swal2-styled.swal2-confirm {
  background-color: #217bf4 !important;
}
